* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  background: #e3e5e7;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

.clean::after {
  display: block;
  content: "";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
