.commnetDiv .title::after {
  position: absolute;
  left: 0;
  top: 46px;
  content: "";
  width: 100px;
  height: 1px;
  border-bottom: 3px solid #c7902b;
  animation-duration: 1.3s;
  animation-name: underlineAnim;
  animation-fill-mode: forwards;
}

.commnetDiv_top {
  margin-top: 15px;
}

@keyframes underlineAnim {
  from {
    width: 0;
  }

  to {
    width: 80px;
  }
}
